/* media/responsive-section-css */

@media (max-width: 1700px) {
    header{
        padding: 20px 8%;
        
    }
    header.sticky{
        padding: 14px 8%;
    }

    .logo{
        font-size: 28px;
    }
}



@media (max-width: 1380px) {
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }

    
}


@media (max-width: 950px){
    :root{
        --h1-font: 3.5rem;
    }

    #menu-icon{
        display: block;
        color: white;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17, 0.04) 0%, rgba(17, 17, 17, 0.04) 50%, rgba(197, 197, 197, 0.04) 50%, rgba(197, 197, 197, 0.04) 100%), radial-gradient(circle at 26% 17%, rgba(64, 64, 64, 0.04) 0%, rgba(64, 64, 64, 0.04) 50%, rgba(244, 244, 244, 0.04) 50%, rgba(244, 244, 244, 0.04) 100%), radial-gradient(circle at 44% 60%, rgba(177, 177, 177, 0.04) 0%, rgba(177, 177, 177, 0.04) 50%, rgba(187, 187, 187, 0.04) 50%, rgba(187, 187, 187, 0.04) 100%), linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
        transition: all .50s ease;
        box-shadow: 10px 10px 5px 10px black;
    }
    .navlist a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navlist.active{
        right: 0;
    }
}